* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 200px;
  background-color: var(--main-color);
  color: rgb(255, 0, 0);
  padding: 4px;
  z-index: 10000;
  border-radius: 10px;
}

.skip-link:focus {
  top: 20px;
}
/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 28px;
  padding: 14px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #db0000;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 54px;
  left: -700px;
  width: 100%;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
  text-align: center;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  /* border-top: 1px solid #ff00001c;
  border-bottom: 1px solid #ff00001c; */
}

.app-bar .app-bar__navigation ul li a:hover {
  color: #db0000;
}

/* 
  Hero
*/

/* Jumbotron */

.jumbotron {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 550px;
  width: 100%;
  background-image: url('../public/images/hero-image_3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.boxjubotron {
  width: 100%;
  padding: 40px;
  color: var(--text-color);
  margin: 10%;
  background-color: #28282cb3;
  border-radius: 5px;
  align-items: center;
}

.title-jumbotron {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}

.text-jumbotron {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 900;
}

.text-jumbotron span {
  color: var(--main-color);
}

/*
  Main Content
*/

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  padding: 20px;
  font-weight: normal;
  text-align: center;
}

/*
  Restaurants
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
  Restaurant Item
*/

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 10px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}

.restaurant-item .restaurant-item__content {
  padding: 16px;
}

.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item__content h3 a {
  color: #db0000;
  text-decoration: none;
  padding: 10px;
}

.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
  restaurant
*/

.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}

.restaurant .restaurant__info h4 {
  margin: 8px 0;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}
/*
  Footer
*/

footer {
  padding: 16px;
}

footer p {
  margin-top: 16px;

  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #db0000;
  text-decoration: none;
}

/*
  Button
*/
